# See http://help.github.com/ignore-files/ for more about ignoring files.

__ngcc_entry_points__.json

# compiled output
/dist
/tmp
/junit
out-tsc/
/publish
/lib
/obj
# dependencies
/node_modules
node_modules.*/
/package-lock.json
integration/**/package-lock.json

# IDEs and editors
.cache
.npmrc
.nvmrc
.eslintcache
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.nx/*
.angular/*
.vscode/*
.vs/*

# misc
/http-config.json
/.sass-cache
/connect.lock
/coverage
/coverage-report
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log
.yarn-integrity

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
